{% extends 'bootstrap/base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <form class="form-signin" action="" method="post">
        <h2 class="form-signin-heading">Please Sign In</h2>
        {{ form.hidden_tag() }}
        {{ form.username.label(class_="sr-only") }}
        {{ form.username(size=32,class_="form-control",placeholder="Email address") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {{ form.password.label(class_="sr-only") }}
        {{ form.password(size=32,class_="form-control",placeholder="Password") }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        {{ form.remember_me() }} {{ form.remember_me.label }}
        {{ form.submit(class_="btn btn-lg btn-primary btn-block") }}
    </form>
</div>
{% endblock %}