{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Business</th>
                </tr>
            </thead>
            <tbody>
                {% for b in backups %}
                    {% if b.state == True %}
                        <tr class="table-success">
                    {% else %}
                        <tr class="table-danger">
                    {% endif %}
                    <th scope="row">1</th><td>{{ b.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}