{% extends "maintenances.html" %}

{% block formbody %}
    {{ super() }}
    {{ form.hidden_tag() }}
    <div class="form-group">
      <label class="col-form-label" data-error="wrong" data-success="right" for="form3">Name:</label>
        {{ form.dbname(class="form-control validate") }}
    </div>
    <div class="form-group">
        <label class="col-form-label" data-error="wrong" data-success="right" for="form2">Active:</label>
        {{ form.active(class="col-form-label", checked="checked")}}
    </div>
{% endblock %}