{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="table">
                <div id="toolbar">
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <table id="table"
                       class="table table-sm table-striped table-bordered table-hover"
                       data-toggle="true"
                       data-toolbar="#toolbar"
                       data-search="true"
                       data-show-columns="true"
                       data-pagination="true"
                       data-page-size="{{ per_page }}"
                       data-show-refresh="true"
                       data-page-list="[10, 20, 50, 100, ALL]"
                       data-id-field="id">
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/editable/bootstrap-table-editable.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webui-popover/2.1.15/jquery.webui-popover.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltip.js/1.3.0/umd/tooltip.js"></script>
<script type='text/javascript'>
    $(window).load(function(){
      var data = {{rows|tojson}};
      var columns = {{columns|tojson}};
      $(function() {
        $('#table').bootstrapTable({ 
          data: data,
          columns: columns,
        });
      });
      $('th').attr('data-editable', 'true');
      $('#datetimepicker1').datepicker({
        format: 'dd/mm/yyyy',
        calendarWeeks: true,
        todayBtr: true,
        todayHighlight: true,
        weekStart: 1,
        endDate: '0d',
        autoclose: true
      }).on('changeDate', function(e){
        $.ajax({
              type: 'POST',
              url: "{{base_url}}",
              data: "date="+moment(e.date).format('L'),
              success: function(data, result) { 
                $('#table').bootstrapTable('destroy'); 
                var columns = {{columns|tojson}};
                $(function() {
                  $('#table').bootstrapTable({ 
                    data: data,
                    columns: columns,
                  });
                });
              },
              error: function (xhr, status, error) { var err = eval("(" + xhr.responseText + ")"); alert(err.Message); }
        });
      });
    });
</script>
{% endblock %}