{% extends "base.html" %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Business</th>
                    <th scope="col">Cluster</th>
                </tr>
            </thead>
            <tbody>
                {% for b in business %}
                    {{ b|pprint }}
                    <tr><th scope="row">{{ b.dba_business_id }}</th><td>{{ b.dba_business_name }}</td><td>{{ b.dba_cluster_name }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}